parameters:
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  # Ignore phpstan-drupal extension's rules,
  # so that we begin by only checking deprecation.
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Plugin definitions cannot be altered.#'
    - '#Missing cache backend declaration for performance.#'
    - '#Plugin manager has cache backend specified but does not declare cache tags.#'
  drupal:
    drupal_root: web
  paths:
    - web/modules/custom
  fileExtensions:
    - php
    - module
    - inc
    - theme
    - install
