<ul class="social-links">
    {% if facebook_page is not empty %}
        <li>{{ facebook_page }}</li>
    {% endif %}
    {% if twitter_page is not empty %}
        <li>{{ twitter_page }}</li>
    {% endif %}
    {% if gdo_page is not empty %}
        <li>{{ gdo_page }}</li>
    {% endif %}
</ul>
