{% if registration_page is not empty %}
    <div class="button medium center">
        {{ registration_page }}
    </div>
{% endif %}
{%  if sponsorship_page is not empty %}
    <div class="button medium center">
        {{ sponsorship_page }}
    </div>
{% endif %}