@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($bg, 25%);
  }
}

.btn {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;

  &.btn-lg {
    font-size: 1.8rem;
  }

}

.btn-color-1 {
  @include button-bg($primary-color);
}

.btn-color-2 {
  @include button-bg($secondary-color);
}

.btn-color-3 {
  @include button-bg($tertiary-color)
}

a.btn {
  text-decoration: none;
}

.button-row-4 {
  @media only screen and (max-width: 699px) {
    display: block;
    //height: 100%;
  }

  @media only screen and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }





  .btn {
    @media only screen and (max-width: 699px) {
      display: block;
      //height: 100%;
      margin-bottom: 1rem;
    }

    @media only screen and (min-width: 700px) {
      margin-right: 2vw;
    }

    padding-top: 1.7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-bottom: 1.2rem;

    text-align: center;
    min-height: 85px;

  }

  .small {
    font-size: 50%;
    line-height: 0.3em;
  }
}
