.region-header {

  border-bottom: 2px solid green;

  @include due-gradient;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  z-index: 3;
  .fade-in & {
    box-shadow: 0 3px 0 0 rgba($white-color,0.75);
  }
}

// Fix toolbar positions...
.toolbar-horizontal.toolbar-fixed .region-header {
  top: 39px;
}
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open .region-header {
  top: 79px;
}
.toolbar-vertical.toolbar-fixed .region-header {
  top: 39px;
}
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  z-index: 2;
}
body.toolbar-horizontal.toolbar-fixed {
  padding-top: calc(39px + 80px) !important;
}
body.toolbar-vertical.toolbar-fixed {
  padding-top: calc(39px + 80px) !important;
}
body.toolbar-horizontal.toolbar-fixed.toolbar-tray-open {
  padding-top: calc(79px + 80px) !important;
}

body:not(.iframe) {
  padding-top: 80px;
}

.site-logo {
  background-image: url("/themes/drupalnyc/logo-xx.svg");
  margin: 0.5rem 1rem;
  padding: 0;
  width: 5rem;
  height: 5rem;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: left;
  img {
    display: inline;
  }

  @media only screen and (max-width: 500px) {
    background: none;
    width: auto;

    img {
      display: block;
    }
  }
}
.site-name {
  display: block;
  padding-top: 0.5rem;

}

.region-header a {
  color: $white-color;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
}

.region-header a.is-active {
  color: $tertiary-color;
}
// was 10% & 65% leaving 25% for user menu (branding / nav / user menu)
// now 30% & 50% leaving 20% for user menu
.block-system-branding-block {
  width: 50%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.path-frontpage {
  .page--header {
    a.site-logo {
      @include transition(0.3s);
      opacity: 1;
    }
    &.fade-in a.site-logo {
      opacity: 1;
    }
  }
}



