.region-header {
  @include due-gradient;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  /*align-items: center;*/
  z-index: 3;
  .fade-in & {
    box-shadow: 0 3px 0 0 rgba($white-color,0.75);
  }
}

.site-name {
  display: none;
}

.region-header a {
  color: $white-color;
  font-size: 1.25rem;
  display: block;
}

.region-header a.is-active {
  color: $tertiary-color;
}

// Fix toolbar positions...
.toolbar-horizontal.toolbar-fixed .region-header {
  top: 39px;
}
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open .region-header {
  top: 79px;
}
.toolbar-vertical.toolbar-fixed .region-header {
  top: 39px;
}
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  z-index: 2;
}
body.toolbar-horizontal.toolbar-fixed {
  padding-top: calc(39px + 80px) !important;
}
body.toolbar-vertical.toolbar-fixed {
  padding-top: calc(39px + 80px) !important;
}
body.toolbar-horizontal.toolbar-fixed.toolbar-tray-open {
  padding-top: calc(79px + 80px) !important;
}

body:not(.iframe) {
  padding-top: 80px;
}

.block-system-branding-block a.site-logo {
  /*---- this height indirectly defines the size of the logo, except on the home page prior to scroll (see SCALE below for that size) -----*/
  height: 91px;
  margin: 0.3rem 0 0 0.3rem;
  padding: 0;
  img {
    display: inline;
    width: auto;
    height: 100%;
  }
}

.path-frontpage {
  .page--header {
    a.site-logo {
      transform-origin: 0 0;
      transform: scale(3);
    }
/*----- scale value above is logo size when homepage loads, scale value below is after home page has been scrolled--should be(1) to match not-front pages -----*/
    &.fade-in a.site-logo {
      transform: scale(1);
      @include transition(0.3s);
    }
  }
}


/*.block-system-branding-block {
  flex: 1 1 10%;

  img {
    max-width: 100%;
    height: 70px;
    padding: 5px 10px;
  }
}*/
