.node--type-program-item.node--view-mode-teaser {
  background-color: #fff;
  -webkit-box-shadow: -6px 18px 78px 3px rgba(0,0,0,.11);
  -moz-box-shadow: -6px 18px 78px 3px rgba(0,0,0,.11);
  box-shadow: -6px 18px 78px 3px rgba(0,0,0,.11);
  padding: 1rem;
  margin: 1rem 0 2rem;
}
.node--type-program-item.node--view-mode-teaser h2 {
  margin: 0;
}
