// list of users on front page
.view-display-id-block_volunteers {
  .view-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $grid-gap;

    @include responsive(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responsive(mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.view-display-id-block_track_chairs {
  .view-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-gap;

    @include responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.taxonomy-term-6 .view-display-id-block_track_chairs .view-content,
.taxonomy-term-7 .view-display-id-block_track_chairs .view-content,
.taxonomy-term-51 .view-display-id-block_track_chairs .view-content {
  grid-template-columns: repeat(2, 1fr);
}

.taxonomy-term-5 .view-display-id-block_track_chairs .view-content {
  grid-template-columns: repeat(4, 1fr);
}

.superhero--view-mode-full {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $grid-gap;

  @include responsive(mobile) {
    display: inherit;
  }
}

.superhero--view-mode-compact {
  display: flex;
  justify-content: center;
}

.view-display-id-block_testimonials .view-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $grid-gap;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mobile) {
    grid-template-columns: 1fr;
  }
}

.superhero--view-mode-testimonial {
  .superhero--prosa {
    margin-bottom: $grid-gap;
  }

  .superhero--profile {
    display: flex;
    justify-content: center;
  }
}

.superhero--view-mode-tiny {
  position: relative;

  .superhero--name {
    display: flex;
    align-items: center;

    /* cursor: pointer; */
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      object-fit: cover;
      -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
      -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
      box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
      margin: $grid-gap*0.25 $grid-gap*0.5 $grid-gap*0.25 0;
      flex-shrink: 0;
    }

    &>* {
      display: inline-block;
      top: 0;
      position: inherit;
      padding: 0;

      &:not(:first-child) {
        padding-left: .25rem;
      }

      &.field--name-field-u-last-name {
        padding-right: .25rem;
      }

      &.field--name-field-u-first-name,
      &.field--name-field-u-last-name,
      &.field--name-field-u-middle-name {
        font-size: 15px;
      }

      &.field--name-field-u-company {
        font-size: 13px;

        &::before {
          content: ' · '
        }

        div {
          display: inline-block;

          &:not(:first-child)::before {
            content: ' & '
          }
        }
      }
    }
  }


  &:not(.superhero--expanded) .superhero--popup,
  &:not(.superhero--expanded) .superhero--popup.superhero--got-prosa {
    display: none;
  }

  .superhero--popup {
    &.superhero--got-prosa {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: $grid-gap;

      @include responsive(mobile) {
        display: inherit;
      }
    }

    .superhero--profile {
      display: grid;
      grid-template-rows: 150px 1fr;
      place-items: center center;
    }

    position: absolute;
    top: 20px;
    background-color: white;
    z-index: 3;
    padding: $grid-gap*0.5 $grid-gap;
    border: $grid-gap*0.25 solid rgba($primary-color, .25);
    border-radius: $grid-gap*0.25;

    .superhero--full-name,
    .field--name-field-u-job-title,
    .field--name-field-u-company {
      text-align: center;
    }
  }


}

.superhero--view-mode-compact,
.superhero--view-mode-testimonial {
  -webkit-box-shadow: -6px 18px 78px 3px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -6px 18px 78px 3px rgba(0, 0, 0, 0.11);
  box-shadow: -6px 18px 78px 3px rgba(0, 0, 0, 0.11);
  padding: $grid-gap;
  margin: $grid-gap 0 $grid-gap*2 0;
}

.superhero--view-mode-compact,
.superhero--view-mode-testimonial {
  &:first-child {
    margin: 0 0 $grid-gap*2 0;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    margin: $grid-gap*0.5 $grid-gap $grid-gap*0.5 0;
    flex-shrink: 0;
  }
}

.superhero--full-name {
  text-align: center;
}

.superhero--view-mode-volunteer-profile,
.superhero--view-mode-full,
.superhero--view-mode-tiny .superhero--popup {
  .superhero--profile {
    display: grid;
    grid-template-rows: 150px 1fr;
    place-items: center center;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, .21);
    margin: 0;
    zoom: 1;
  }


  &.superhero--view-mode-volunteer-profile {
    display: grid;
    grid-template-rows: 1fr auto;

    .field--name-field-u-volunteer-about {
      display: none;
      padding: 0 1rem;

      p:last-child {
        margin-bottom: 2rem;
      }
    }

    .show-more .field--name-field-u-volunteer-about {
      display: inherit;
    }

    .expand {
      margin: 0 0 $grid-gap 0;
      text-align: center;
      color: $secondary-color;

      span {
        cursor: pointer;

        &:before {
          content: "";
          width: .8rem;
          height: .8rem;
          background-image: url("../../images/plussign.svg");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          margin-left: -1.3rem;
          margin-top: .25rem;
          filter: brightness(0);
          opacity: 0.6;
        }

        line-height: 1rem;
      }
    }
  }
}


.field--name-field-u-acad-title-pre {
  position: relative;
  top: 10px;
  color: $secondary-color;
}

.field--name-field-u-acad-title-post {
  position: relative;
  top: 5px;
  color: $secondary-color;
}

.field--name-field-u-first-name,
.field--name-field-u-last-name,
.field--name-field-u-middle-name {
  display: inline-block;
  font-size: 18px;
  padding: 0;
  position: relative;
  top: 10px;
}

.field--name-field-u-job-title {
  text-align: center;
  // color: $primary-color;
  color: #1f7ea9;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 5px;
  padding: 5px 0;

}

.field--name-field-u-company {
  text-align: center;
  color: #a2a2a2;
}

.main-data-wrapper {
  text-align: center;
}

.menu--user-cta {
  display: flex;
  flex-direction: column;

  .menu-item {
    margin: 1rem 20% 0 20%;
  }

  a {
    display: inline-block;
    text-align: center;
    border: solid 2px #a92e92;
    padding: .55rem 1.3rem;
    transition: all .15s ease;
    font-size: 16px;
    background-color: white;
    width: 100%;

    &:hover {
      background-color: #a92e92;
      color: white;
      text-decoration: none;
    }
  }
}

.view-id-user_views .view-content,
.field--name-field-select-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $grid-gap;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mobile) {
    display: block;
  }

  .expand {
    display: none !important;
  }

  .column--half & {
    grid-template-columns: repeat(2, 1fr);

    @include responsive(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include responsive(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.view-display-id-block_speakers_featured .views-row {
  @include responsive(mobile) {
    margin-bottom: 3rem;
  }
}


.path-frontpage {
  .deck.deck-hero--no-icon .deck-hero--content {
    grid-template-columns: 30% 70%;

    @include responsive(tablet) {
      display: block;
    }

    @include responsive(mobile) {
      display: block;
    }
  }

  .future-panel-speakers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    @include responsive(mobile) {
      display: block;
    }
  }

  .deck-hero .superhero--profile .field--name-field-u-job-title {
    color: #fff;
  }
}
