/*--
for general tweaks that don't quite belong in one of the more specific stylesheets, plus temporary changes for dev, testing, etc.
--*/


/*
.messages.messages--error {
  DISPLAY: NONE;
  }

body.path-theming-basic .node__content .field__items > .field__item::before {
  content: 'SAMPLE DECK ITEM';
  display: block;
  color: magenta;
  margin: 0 0 0 3px;
  }
body.path-theming-basic .node__content .field__items > .field__item {
  margin-top: 20px;
  border: 5px solid magenta;
  }
*/
