@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic');


body { font-family:sans-serif; font-size:14px; font-weight:normal; font-style:normal; line-height: 1.5; background:#ffffff; word-wrap: break-word; margin: 20; padding: 0; border: 0; outline: 0; border-top:10px solid;  }

a:link, a:visited { text-decoration: none;  }

a:hover, a:active, a:focus { text-decoration: none; }

#main a { text-decoration: underline; }

#main a:hover { text-decoration: none; }

#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a { text-decoration: none; }	

h1, h2, h3, h4, h5, h6 { letter-spacing: -1px; margin:0; }

h1 { font-size:35px; font-weight:normal; font-style:normal; line-height: 140%; margin-bottom: 14px; }

h2 { font-size:28px; font-weight:normal; font-style:normal; line-height: 130%; margin-bottom: 10px; }

.block h2, #footer h2 { font-weight: bold; font-size: 1.5em; line-height: 130%; margin-bottom: 10px; }

h3 { font-size:21px; font-weight:normal; font-style:normal; line-height: 130%; margin-bottom: 8px; }

h4 { font-size:17px; font-weight:bold; font-style:bold; line-height: 125%; margin-bottom: 8px; }

h5 { font-size:14px; font-weight:bold; font-style:bold; line-height: 120%; margin-bottom: 8px; }

h1 a, h2 a, h3 a, h4 a, h5 a { font-weight: inherit; text-decoration: none; }

p { margin: 0 0 20px 0; }

del { text-decoration: line-through; }


hr { border: solid #DDD; clear: both; margin: 10px 0 30px; height: 0; border-width: 1px 0 0; }

.field-type-taxonomy-term-reference .field-item { float: left; padding: 0 1em 0 0; white-space: nowrap; }

/* Responsive Images */

img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

